@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    color-scheme: #333;
    font-family: 'Nunito Sans', sans-serif;
    scrollbar-gutter: auto stable;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: none;

    button, option, select {
        outline: none;
    }
}
